.Login{
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0;
}
.content{
  border-radius: 4px;
  padding: 20px;
  margin: auto;
}
#logo-png{
  animation: logoRotate infinite 1.5s linear;
}
#logo-png-2{
  animation: logoRotateFll infinite 1.5s linear;
}
